<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="footer.css">
    <title>FontFlex Footer</title>
</head>
<body>

    <div id="footer">
        
        <div id="footer">
            <div id="top">
              <a href="">Priviacy Policy</a>
              <a href="">Terms of Service (TOS)</a>
              <a href="">Source Code</a>
              <a href="">Changelog</a>
            </div>
          </div>
          

        <p>© FontFlex. All rights reserved.</p>
      </div>
      
    
</body>
</html>